@charset "UTF-8";
#wait1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.play-btn {
    width: 100px;
    height: 100px;
    background: radial-gradient( rgba(45, 206, 137, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 25px 3px rgba(45, 206, 137, 0.8);
    z-index: 1;
}


/* triangle */

.start {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    position: relative;
    display: block;
    z-index: 2;
    margin: -75px auto;
}

.play {
    width: 25px;
    height: 25px;
    position: relative;
    top: 35px;
    margin: 10px auto;
    z-index: 2;
    visibility: hidden;
}

.play:before {
    content: "";
    position: absolute;
    width: 0;
    background-color: #fff;
    transition: .1s;
    left: 0;
    height: 25px;
    width: 8px;
}

.play:after {
    content: "";
    position: absolute;
    width: 0;
    background-color: #fff;
    transition: .1s;
    left: 17px;
    height: 25px;
    width: 8px;
}

.stop {
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;
    margin: 10px auto;
    background-color: white;
    z-index: 2;
    visibility: hidden;
}


/* pulse wave */

.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    /*-webkit-animation-direction: forwards;*/
    /*animation-direction: forwards;*/
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*-webkit-animation-timing-function: steps;*/
    /*animation-timing-function: steps;*/
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

.progress-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    cursor: pointer;
    top: 33%;
    left: 50%;
    margin: 0 0 0 -150px;
    background-color: white;
    box-shadow: none;
}


/* .progress-circle {
    transform: rotate(-90deg);
    margin-top: -30px;
} */

.progress-circle-back {
    fill: none;
    stroke: #D2D2D2;
    stroke-width: 10px;
}

.progress-circle-prog {
    fill: none;
    stroke: #7E3451;
    stroke-width: 10px;
    stroke-dasharray: 0 999;
    stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 84px;
    color: brown;
}

form {
    margin: 0 auto;
    text-align: center;
    padding-top: 37px;
}

.speed-btn {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: rgba(45, 206, 137, 0.8);
    font-size: 26px;
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.speed-btn:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#speed {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.main-alert {
    font-size: 16px;
    padding: 1px 10px;
    text-align: center;
    display: none;
}

.train-btn{
    width: 100px;
    margin: 10px auto;
    padding-left: 0;
    padding-right: 0;
}
.train-state {
    padding-top: 25px !important;
}
.train-panel {
    height: 18em;
    overflow-y: auto;
    padding: 0 !important;
    margin: 0;
}
#graph {
    height: 100%;
}
#single-graph {
    height: 100%;
    width: 100%;
}
#cache-alert {
    font-size: 16px;
    padding: 1px 10px;
    text-align: center;
}